body {
    width:100vw;
    height:100vh;
    overflow:hidden;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 22em;
    height: 35em;
    background-color: red; 
    border-radius: 0.8em 0.8em 3em 3em;
 }


/* Estructura del top*/
.top{
    height: 17.2em; 
    background-color: transparent;
}
.borderScreen{
    width: 19.6em;
    height: 16em;
    background-color: black;
    margin: 1.2em 1.2em 0 1.2em;
    border-radius: 0.6em 0.6em 1em 1em;
    display: inline-flex;
}
.borderRight, .borderLeft{
    width: 3.3em;
    height: 16em;
}
.center{
    width: 13em;
    height: 16em;
}
.borderTop{
    width: 13em;
    height: 2em;
}
.borderBottom{
    width: 13em;
    height: 3em;
}
.screen{
    width: 13em;
    height: 11em;
    background-color: grey; 
}


/* Estructura del middle*/
.middle{
    height: 10em;
    background-color: transparent;
}

/* Estructura del bottom*/
.bottom{
    height: 8em;
    background-color: transparent;
}


